<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeFM - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_styles.css') }}">
</head>
<body>
    <header>
        <a class="logout-button" href="/logout">Logout</a>
    </header>
    <main>
        <h1>Welcome to VibeFM Dashboard, {{ name }}</h1>
        <div class="grid-container">
            <a class="grid-item" href="/top-tracks">
                <h2>Top Tracks</h2>
                <p>Explore your most listened tracks.</p>
            </a>
            <a class="grid-item" href="/top-artists">
                <h2>Top Artists</h2>
                <p>Discover your favorite artists.</p>
            </a>
            <a class="grid-item" href="/sort-songs">
                <h2>Sort Songs</h2>
                <p>Organize your music library.</p>
            </a>
        </div>
    </main>
</body>
</html>